<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Recipe Book | fillet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <body class="body-meals">
        
        <div class="header">
            <a href="meals.html" >
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            
            <img src="/static/images/logo-text.png">
        </div>
        
        <div id="recipe">
            <div class="recipe-details">
                <img src="/static/images/fillet.webp">
                
                <h1>Black and blushing worcestershire fillet</h1>
                <div class="recipe-details-info">
                    <P><b>Prep Time</b> : 30 Mins</P>
                    <P style="float: right"><b>serving</b> : 4</P>
                </div>
                
                <div class="recipe-details-ingredients">
                    <h2>Ingredients</h2>
                    
                    <input id="Check-01" type="checkbox">
                    <label for="check-01"> 600-700 piece of fillet steak</label>
                    <br>
                     <input id="Check-02" type="checkbox">
                    <label for="check-02">2 heaped teaspoons French mustard
                    </label>
                    <br>
                     <input id="Check-03" type="checkbox">
                    <label for="check-03">8-10 tablespoons Worcestershire sauce , plus extra for drizzling</label>
                    <br>
                     <input id="Check-04" type="checkbox">
                    <label for="check-05">a good drizzle of extra virgin olive oil , plus extra to serve</label>
                    <br>
                     <input id="Check-05" type="checkbox">
                    <label for="check-05">2 sprigs of fresh rosemary</label>
                    <br>
                    <h2>To cook</h2>
                    <input id="Check-05" type="checkbox">
                   <label for="check-05">unsalted butter</label>
                   <br>
                   <input id="Check-05" type="checkbox">
                  <label for="check-05">olive oil</label>
                  <br>
                   <input id="Check-05" type="checkbox">
                  <label for="check-05">thyme and rosemary flowers , optional</label>
                </div>
                
                <div class="recipe-details-steps">
                    <h2>Steps</h2>
                    
                    <ol>
                        <li>The day before, or at least a few hours before cooking, put all the ingredients in a large sandwich bag (pick and finely chop the rosemary first).</li>
                        <li>Squeeze out the air then spend a few minutes massaging all the flavours into the meat. Put in the fridge for a few hours or overnight.
                        </li>
                        <li>About 1½ hours before you’re ready to cook, remove the beef from the fridge and place in a cool corner of the kitchen to come up slowly to room temperature. </li>
                        <li>Preheat your barbecue. Put a few knobs of chilled butter into a bowl of cold water and take those outside with you when you’re ready to cook. </li>
                        <li> This next bit is going to be down to you and your intuition. What works for me every time is taking the fillet out of the bag, quickly patting it with kitchen paper then rolling it in olive oil and putting it on the hottest part of the barbecue to give it colour. Rub it with a chilled knob of butter as you cook it for about 8 to 10 minutes, turning every minute.
                        </li>
                        <li>Once it looks good, move the fillet to a cooler part of the barbecue to finish cooking to your liking. Another 4 to 5 minutes, turning every minute, should give you medium-done meat. If you like it medium rare, cook it for less, or more for well done. It’s better to err on the side of under-done. That way, the worst-case scenario is that you take the fillet off, slice into it and find that it’s under-cooked, then have to put it back.</li>
                        <li> When you’re happy, put it on a platter, rub it again with butter so it really shines, then drizzle over more Worcestershire sauce, extra virgin olive oil, and thyme and rosemary flowers, if you have them.</li>
                        <li>Let the meat rest for a few minutes, before slicing at the table. Season from a height then quickly rub the slices in the juices before you let everyone grab some.</li>
                    </ol>
                </div>
            </div>
            <center><button type="submit">Add to favourites</button></center>
        </div>
    </body>
    </html>