<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Recipe Book</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/delete.css">


<div class="recipe-list">
    <h2>Recipes</h2>
    <ul class="list-group">
      
            <form action="/delete/{{ recipe._id }}" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
        
    </ul>
</div>
</body>
</html>
