<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book | Desert</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="index.html" >
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            
            <img src="/static/images/logo-text.png">
        </div>
        
        <div id="meals">
            
            <div class="meals-list">
                {{dessert}} 
             
            </a>
             
            </div>
            <h2>Dessert</h2>
            <ul>
                {% dessert in dessert %}
                <li>Title: {{ .dessert}}</li>
                <li>Description: {{ dessert.description }}</li>
                <li>Ingredients: {{dessert.ingredients }}</li>
                <li>Instructions: {{ dessert.instructions }}</li>
                {% endfor %}
            </ul>
        </div>
        <li><a href="#" onclick="goToLandingPage3('added2')">Add Recipe</a></li>
    </body>
    <script src="/static/app.js"></script>
</html>
