<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book | Drinks</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="index.html" >
             
            </a>
            
            <img src="static/images/logo-text.png">
            <li class="add"><a href="#" onclick="goToLandingPage2('added')">Add Recipe</a></li>
        </div>
        
               
                
                <h1></h1>
                <div class="recipe-details-info">
                   
                
                </div>
            
                <main>
              
                    <div class="meals-list">
                    
                        <a href="cookies.html">
                            <div class="meals-list-item">
                                <h1>Discovery feed<i ></i></h1>
                                
                             
                            </div>
                        </a>
                  
                </main>
              
              </body>
              </html>
               
                  
                    </div>
                  </body>
                  </html>
                 
                </body>
                </html>
            </div>
               
                     
                
                    </div>
                </a>
            </div>
           
        
       
        <ul>
            {% for recipe in recipes %}
            <li>{{ recipe.title }}</li>
            <li>{{ recipe.description }}</li>
            <li>{{ recipe.ingredients }}</li>
            <li>{{ recipe.instructions }}</li>
            
            {% endfor %}
        </ul>

      
    </body>
    <script src="/static/app.js"></script>

</html>

<footer>
    <p>&copy; 2024 My Recipe Book. All rights reserved.</p>
  </footer>

