<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book | Meals | Grilled Cheese</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="meals.html" >
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            
            <img src="/static/images/logo-text.png">
        </div>
        
        <div id="recipe">
            <div class="recipe-details">
               
              
            </div>
            <li><a href="/Add Recipe">Add Recipe</a></li>
        </div>
    </body>
</html>



