<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book | Meals | Grilled Cheese</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="meals.html" >
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            
            <img src="/static/images/logo-text.png">
        </div>
        
        <div id="recipe">
            <div class="recipe-details">
                <img src="static/images/grilledCheese.png">
                
                <h1>Grilled Cheese Sandwhich</h1>
                <div class="recipe-details-info">
                    <P><b>Prep Time</b> : 10 Mins</P>
                    <P style="float: right"><b>Yield</b> : 4</P>
                </div>
                
                <div class="recipe-details-ingredients">
                    <h2>Ingredients</h2>
                    
                    <input id="Check-01" type="checkbox">
                    <label for="check-01">1/4 cup butter, softened</label>
                    <br>
                     <input id="Check-02" type="checkbox">
                    <label for="check-02">1 tablespoon grated Parmesan cheese</label>
                    <br>
                     <input id="Check-03" type="checkbox">
                    <label for="check-03">8 Italian bread slices</label>
                    <br>
                     <input id="Check-04" type="checkbox">
                    <label for="check-05">4 (3/4-oz.) provolone cheese slices</label>
                    <br>
                     <input id="Check-05" type="checkbox">
                    <label for="check-05">4 (3/4-oz.) mozzarella cheese slices</label>
                </div>
                
                <div class="recipe-details-steps">
                    <h2>Steps</h2>
                    
                    <ol>
                        <li>Stir together butter and Parmesan cheese in a small bowl.</li>
                        <li>Spread 1 1/2 tsp. butter mixture on 1 side of each bread slice. Place 4 bread slices, buttered sides down, on wax paper. Top with provolone and mozzarella cheeses; top with remaining bread slices, buttered sides up.
                        </li>
                        <li>Cook sandwiches, in batches, on a hot griddle or in a non-stick skillet over medium </li>
                    </ol>
                </div>
            </div>
            
        </div>
    </body>
</html>



<body class="body-meals">
        
    <div class="header">
        <a href="meals.html" >
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        
        <img src="/static/images/logo-text.png">
    </div>
    
    <div id="recipe">
        <div class="recipe-details">
            <img src="static/images/fillet.webp">
            
            <h1>Black and blushing worcestershire fillet</h1>
            <div class="recipe-details-info">
                <P><b>Prep Time</b> : 30 Mins</P>
                <P style="float: right"><b>Yield</b> : 4</P>
            </div>
            
            <div class="recipe-details-ingredients">
                <h2>Ingredients</h2>
                
                <input id="Check-01" type="checkbox">
                <label for="check-01"> 600-700 piece of fillet steak</label>
                <br>
                 <input id="Check-02" type="checkbox">
                <label for="check-02">2 heaped teaspoons French mustard
                </label>
                <br>
                 <input id="Check-03" type="checkbox">
                <label for="check-03">8-10 tablespoons Worcestershire sauce , plus extra for drizzling</label>
                <br>
                 <input id="Check-04" type="checkbox">
                <label for="check-05">a good drizzle of extra virgin olive oil , plus extra to serve</label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">2 sprigs of fresh rosemary</label>
                <br>
                <h2>To cook</h2>
                <input id="Check-05" type="checkbox">
               <label for="check-05">unsalted butter</label>
               <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">olive oil</label>
              <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">thyme and rosemary flowers , optional</label>
            </div>
            
            <div class="recipe-details-steps">
                <h2>Steps</h2>
                
                <ol>
                    <li>The day before, or at least a few hours before cooking, put all the ingredients in a large sandwich bag (pick and finely chop the rosemary first).</li>
                    <li>Squeeze out the air then spend a few minutes massaging all the flavours into the meat. Put in the fridge for a few hours or overnight.
                    </li>
                    <li>About 1½ hours before you’re ready to cook, remove the beef from the fridge and place in a cool corner of the kitchen to come up slowly to room temperature. </li>
                    <li>Preheat your barbecue. Put a few knobs of chilled butter into a bowl of cold water and take those outside with you when you’re ready to cook. </li>
                    <li> This next bit is going to be down to you and your intuition. What works for me every time is taking the fillet out of the bag, quickly patting it with kitchen paper then rolling it in olive oil and putting it on the hottest part of the barbecue to give it colour. Rub it with a chilled knob of butter as you cook it for about 8 to 10 minutes, turning every minute.
                    </li>
                    <li>Once it looks good, move the fillet to a cooler part of the barbecue to finish cooking to your liking. Another 4 to 5 minutes, turning every minute, should give you medium-done meat. If you like it medium rare, cook it for less, or more for well done. It’s better to err on the side of under-done. That way, the worst-case scenario is that you take the fillet off, slice into it and find that it’s under-cooked, then have to put it back.</li>
                    <li> When you’re happy, put it on a platter, rub it again with butter so it really shines, then drizzle over more Worcestershire sauce, extra virgin olive oil, and thyme and rosemary flowers, if you have them.</li>
                    <li>Let the meat rest for a few minutes, before slicing at the table. Season from a height then quickly rub the slices in the juices before you let everyone grab some.</li>
                </ol>
            </div>
        </div>
        
    </div>
</body>
</html>


<body class="body-meals">
        
    <div class="header">
        <a href="meals.html" >
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        
        <img src="/static/images/logo-text.png">
    </div>
    
    <div id="recipe">
        <div class="recipe-details">
            <img src="static/images/lamb.webp">
            
            <h1>Stout-Braised Lamb Shanks</h1>
            <div class="recipe-details-info">
                <P><b>Prep Time</b> : 2 hours 25 mins </P>
                <P style="float: right"><b>Yield</b> : 4</P>
            </div>
            
            <div class="recipe-details-ingredients">
                <h2>Ingredients</h2>
                
                <input id="Check-01" type="checkbox">
                <label for="check-01">1 tablespoon vegetable oil</label>
                <br>
                 <input id="Check-02" type="checkbox">
                <label for="check-02">4 lamb shanks</label>
                <br>
                 <input id="Check-03" type="checkbox">
                <label for="check-03">1 onion, chopped</label>
                <br>
                 <input id="Check-04" type="checkbox">
                <label for="check-05">4 cloves garlic, chopped</label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">2 carrots, chopped</label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">2 celery ribs, chopped</label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">2 tablespoons tomato paste

                </label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">1 (14 ounce) can beef broth</label>
                <br>
                 <input id="Check-05" type="checkbox">
                <label for="check-05">1 (12 fluid ounce) bottle stout (such as Guinness®) or porter</label>
                <br>
                <input id="Check-05" type="checkbox">
               <label for="check-05">3 sprigs fresh thyme</label>
               <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">3 sprigs fresh parsley</label>
              <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">1 bay leaf</label>
              <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">1 sprig fresh rosemary</label>
              <br>
               <input id="Check-05" type="checkbox">
              <label for="check-05">salt and pepper to taste</label>
            </div>
            
            <div class="recipe-details-steps">
                <h2>Steps</h2>
                
                <ol>
                    <li>Heat oil in a Dutch oven or large, wide pot over medium-high heat until oil begins to smoke. Sear lamb shanks in hot oil on all sides until browned, about 10 minutes. Remove lamb shanks and set aside. Drain excess grease.

                    </li>
                    <li>Add onion and garlic to the Dutch oven over medium heat. Cook and stir until onion is softened and translucent, about 5 minutes. Stir in carrots, celery, and tomato paste; cook for 5 minutes more.


                    </li>
                    <li>Return lamb shanks to the Dutch oven and pour in broth and stout beer. Use kitchen twine to tie together thyme, parsley, and bay leaf into a secure bundle; add to lamb shanks. Bring to a boil. </li>
                    <li>Reduce heat to medium-low, cover, and simmer, stirring occasionally, until lamb is tender and nearly falls off the bone, 2 to 3 hours. Stir in rosemary sprig and season with salt and pepper during the last 10 minutes of cooking. Remove rosemary sprig and herb bundle before serving.</li>
                </ol>
            </div>
        </div>
        
    </div>
</body>
</html>
