<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Recipe Book</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get the Signup and Login links
            var signupLink = document.querySelector("a[href='#Signup']");
            var loginLink = document.querySelector("a[href='#Login']");

            // Add click event listeners
            signupLink.addEventListener("click", handleSignup);
            loginLink.addEventListener("click", handleLogin);

            // Event handlers
            function handleSignup(event) {
                event.preventDefault();
                // Handle signup event here
                console.log("Signup clicked!");
                // Perform additional signup logic if needed
            }

            function handleLogin(event) {
                event.preventDefault();
                // Handle login event here
                console.log("Login clicked!");
                // Perform additional login logic if needed
            }
        });


        function goToLandingPage1( ) {
            // Replace the URL "/landing-page" with the actual URL or route of the landing page
           window.location.href = "";
           }
    </script>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="add2"><a href="#" onclick="goToLandingPage2('added')">My profile</a></li> 
            
        </ul>
    </nav>
  


    
     <div id="body-home">
 
      

        <div class="home-menu">
          
        </div>
        <div class"flex-container">
       <img class="logo"  src="/static/images/logo-img.png "  alt="Image">
            <img src="/static/images/logo-text 3.png" id="home-logo-text"> 
            <li class="add2"><a href="#" onclick="goToLandingPage2('added')">My profile</a></li> 
            <div class="home-menu">
                <a  href="/meals" onclick="gotoLandingPage1('meals')" class="home-menu-item">
                    <p>Meals</p>
                </a>
        
                <a href="/drinks" onclick="goToLandingPage1('strawberry')" class="home-menu-item">
                    <p>Drinks</p>
                </a>
        
                <a href="/dessert" class="home-menu-item">
                    <p>Desserts</p>
        
            </div>
        
        </div>
    </div>



    <script></script>
</body>
</html>