<!DOCTYPE html>
<html>
    <head>
        <title>My Recipe Book | Meals</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="index.html" >
                <i class="fas fa-arrow-circle-left"></i>
        
            </a>
            
            <img src="/static/images/logo-text.png">
        </div>
        
        <div id="meals">
            
            <div class="meals-list">
                
               
                    </div>
                </a>
            </div>
          
        </div>
<h2>Meals</h2>
<ul>
    {% for meal in meals %}
    <li>Title: {{ meal.title }}</li>
    <li>Description: {{ meal.description }}</li>
    <li>Ingredients: {{ meal.ingredients }}</li>
    <li>Instructions: {{ meal.instructions }}</li>
    <form action="{{ url_for('delete_card', card_id=recipe._id) }}" method="post">
        <button type="submit">Delete</button>
    </form>
    {% endfor %}
</ul>

        <li><a href="#" onclick="goToLandingPage2('added')">Add Recipe</a></li>
        <li><a href="#" onclick="goToLandingPage3('added2')">Delete</a></li>
    </body>
    <script src="/static/app.js"></script>
</html>
