<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="fontawesome/css/all.css">
        <title>My Recipe Book | Meals | Strawberry Milkshake</title>
       
    </head>

    <body class="body-meals">
        
        <div class="header">
            <a href="drinks.html" >
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            
            <img src="static/images/logo-text.png">
        </div>
        
        <div id="recipe">
            <div class="recipe-details">
                <img src="static/images/strawberryMilkshake.png">
                
                <h1>Creamy Strawberry Milkshake</h1>
                <div class="recipe-details-info">
                    <P><b>Prep Time</b> : 10 Mins</P>
                    <P style="float: right"><b>Yield</b> : 4</P>
                </div>
                
                <div class="recipe-details-ingredients">
                    <h2>Ingredients</h2>
                    
                    <input id="Check-01" type="checkbox">
                    <label for="check-01">8 ounces strawberries, stemmed and sliced</label>
                    <br>
                     <input id="Check-02" type="checkbox">
                    <label for="check-02">1/2 teaspoon vanilla extract</label>
                    <br>
                     <input id="Check-03" type="checkbox">
                    <label for="check-03">1 pint vanilla ice cream</label>
                    <br>
                     <input id="Check-04" type="checkbox">
                    <label for="check-05">1/4 cup milk</label>
                    <br>
                    
                </div>
                
                <div class="recipe-details-steps">
                    <h2>Steps</h2>
                    
                    <ol>
                        <li>Blend half of strawberries, 1/4 tsp. vanilla, 1 cup ice cream and 2 Tbsp. milk in blender until smooth.</li>
                        <li>Pour into 2 glasses. Repeat with remaining strawberries, vanilla, ice cream and milk. Serve immediately</li>
                       
                    </ol>
                </div>
            </div>
            
        </div>
    </body>
</html>

<div id="recipe">
    <div class="recipe-details">
        <img src="static/images/long island.jpeg">
        
        <h1>Long Island Iced Tea
        </h1>
        <div class="recipe-details-info">
            <P><b>Prep Time</b> : 10 Mins</P>
            <P style="float: right"><b>Yield</b> : 1</P>
        </div>
        
        <div class="recipe-details-ingredients">
            <h2>Ingredients</h2>
            
            <input id="Check-01" type="checkbox">
            <label for="check-01">3/4 ounce vodka</label>
            <br>
             <input id="Check-02" type="checkbox">
            <label for="check-02">/4 ounce white rum</label>
            <br>
             <input id="Check-03" type="checkbox">
            <label for="check-03">3/4 ounce silver tequila</label>
            <br>
             <input id="Check-04" type="checkbox">
            <label for="check-05">3/4 ounce gin</label>
            <br>
            <input id="Check-04" type="checkbox">
            <label for="check-05">3/4 ounce triple sec</label>
            <br>
            <input id="Check-04" type="checkbox">
            <label for="check-05">3/4 ounce simple syrup</label>
            <br>
            <input id="Check-04" type="checkbox">
            <label for="check-05">3/4 ounce lemon juice, freshly squeezed</label>
            <br>
            <input id="Check-04" type="checkbox">
            <label for="check-05">Cola, to top</label>
            <br>
            <input id="Check-04" type="checkbox">
            <label for="check-05">Garnish: lemon wedge</label>
            <br>
        </div>
        
        <div class="recipe-details-steps">
            <h2>Steps</h2>
            
            <ol>
                <li>Add the vodka, rum, tequila, gin, triple sec, simple syrup and lemon juice to a Collins glass filled with ice.</li>
                <li>Top with a splash of the cola and stir briefly.</li>
                <li>Garnish with a lemon wedge.</li>
                <li>Serve with a straw.</li>
               
            </ol>
        </div>
    </div>
    
</div>
</body>
</html>
